* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-family: "Lato", sans-serif;
}

a {
  color: black;
}
.date {
  text-align: center;
}

p {
  text-align: justify;
}
.display__add_to_fav {
  display: flex;
  width: 90%;
  justify-content: end;
  height: 80px;
  align-items: center;
  margin: auto;
  flex-direction: row-reverse;
}
.add-to-fav {
  width: 182px;
  display: flex;
  border: solid 2px black;
  border-radius: 50px;
  align-items: center;
}
.add-to-fav:hover {
  background-color: black;
  transition: 0.3s;
}
.add-to-fav-text {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 4%;
  font-size: 17px;
  margin: auto;
  width: 100%;
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}
.add-to-fav-text:hover {
  color: white;
}
.add-to-fav-text:hover .heart-icon {
  color: white;
}
.heart-icon {
  color: black;
  font-size: 20px;
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 28px;
}
.date {
  font-size: 17px;
  margin: 10px auto;
  color: grey;
}
.author {
  display: flex;
  justify-items: center;
}
.author-image {
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
.author-name {
  display: inline-block;
  margin: auto 0 auto 1%;
}

.content {
  line-height: 150%;
  margin-top: 3%;
}

.content p {
  margin-top: 3%;
}
.comment-sec {
  background-color: #f4f4f4;
  margin-top: 4%;
}
.comment_display {
  display: flex;
  align-items: center;
}
.comment-section {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.comment {
  margin: 2% 2%;
}

.comment-heading {
  margin-top: 4%;
  margin-left: 2%;
}
.mail {
  color: grey;
}
.comment-text {
  margin-top: 2%;
  margin-bottom: 2%;
}
.comment_user_icon {
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (max-width: 750px) {
  .display__add_to_fav {
    justify-content: center;
  }
}
