* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  height: 100%;
}

.list-post-latest {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #f7f3ef;
  margin: auto;
  justify-content: center;
}

.list-post {
  text-align: justify;
  width: 70%;
  /* min-width: 250px; */
  color: black;
  padding: 5%;
  border-radius: 15px;
  /*box-shadow: 0 0 4em -1em black;*/
  position: relative;
  overflow: hidden;
  margin: 8% auto;
  border: 5px solid #e2e2e2;
  transition: all, 0.5s;
  height: 250px;
  letter-spacing: 0.3px;
  line-height: 185%;
}
.list-post-latest .list-post img {
  width: 250px;
}
.img_postCard {
  width: 250px;
}
.list-post-latest .list-post {
  padding: 0px;
  margin: 0px;
}

.list-post-latest .list-post {
  text-align: justify;
  margin-top: 20px;
  margin: 20px 30px 20px 30px;
  color: black;
  border-radius: 15px;
  background-color: white;
  /*box-shadow: 0 0 4em -1em black;*/
  position: relative;
  overflow: hidden;
  border: 5px solid #e2e2e2;
  transition: all, 0.5s;
  height: 290px;
  width: 230px;
  letter-spacing: 0.3px;
  line-height: 23px;
}
.list-post-latest .list-post h3,
.list-post-latest .list-post p {
  padding: 3%;
  margin: 1px;
}

.list-post:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
/* .to_display img {
  position: relative;
  z-index: 1;
}
.to_display ion-icon {
  position: absolute;
  z-index: 10;
  padding: 5px;
  color: red;
  font-size: 25px;
}
.post_display_hearticon {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: blue;
} */
