* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  height: 100%;
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

.nav-itemsul {
  list-style: none;
  display: flex;
}
#logo {
  color: #fff;
}

.nav-link {
  display: flex;
  padding: 1.6rem 0.7rem;
  font-size: 1.1rem;
  position: relative;
  font-size: 1.1rem;
  margin: auto 5px;
}

.nav-link:hover {
  background-color: white;
  transition: 0.5s;
}

.nav-menu {
  display: flex;
  background-color: #141414;
}

a {
  text-decoration: none;
}

.nav .nav-items {
  display: flex;
  list-style: none;
  flex-grow: 1;
  text-justify: space-around;
}

.nav .nav-items a {
  display: flex;
  align-items: baseline;
  color: white;
}

.nav .nav-items .nav-link:hover a {
  color: #141414;
}

.nav-brand {
  display: flex;
  flex-grow: 10;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.nav-brand span {
  font-weight: 300;
}

.center-text {
  height: 565px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: 160%;
  text-shadow: 2px 2px black;
}

main .site-title .site-background {
  height: calc(100vh-72px);
  text-align: center;
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(back1.jpg);
}

.explorebtn {
  color: white;
  display: block;
  background-color: black;
  padding: 10px;
  margin: 15px auto;
  font-size: 1rem;
  width: 100px;
  border-radius: 2rem;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}

main .site-title .btn {
  margin: 1.8rem;
  background: #141414;
  color: #fff;
}

main .site-title .explorebtn:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}

/*********************Container section /**************************************/

.container-main {
  display: flex;
  width: auto;
}

.heading-latest-post {
  margin: 3% 3%;
  display: block;
}

.heading-popular-post {
  margin: 7% 9%;
  display: block;
}

.latest-posts .list-post-latest {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4.5%;
}
.latest-posts .list-post-latest .list-post img {
  width: 230px;
}
.latest-posts .list-post-latest .list-post {
  padding: 0px;
  margin: 0px;
}

.latest-posts .list-post-latest .list-post {
  text-align: justify;
  margin: 20px 25px auto 25px;
  color: black;
  border-radius: 15px;
  background-color: #ffffff;
  /*box-shadow: 0 0 4em -1em black;*/
  position: relative;
  overflow: hidden;
  border: 5px solid #e2e2e2;
  transition: all, 0.5s;
  height: 290px;
  width: 220px;
  letter-spacing: 0.3px;
  line-height: 23px;
}
.latest-posts .list-post-latest .list-post h3,
.latest-posts .list-post-latest .list-post p {
  padding: 3%;
  margin: 1px;
}

.latest-posts .list-post-latest .list-post:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.latest-posts {
  width: 70%;
  padding-right: 1%;
  background-color: #f7f3ef;
}

.see-all-latest-posts a {
  font-size: 17px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 53px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 50px;
  display: inline-block;
  padding: 7px 25px;
  color: white;
  border: solid 2px black;
}
.see-all-latest-posts a:hover {
  background: transparent;
  border: solid 2px black;
  color: black;
}

.popular-posts {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  background-color: #f0ebe7;
}

.list-post-popular {
  width: 70%;
  margin-top: 20px;
  text-align: justify;
  line-height: 23px;
  margin-left: 10%;
  background-color: antiquewhite;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
  background-color: #c64545;
  color: white;
  text-shadow: 2px 2px black;
  border: 5px solid #e2e2e2;
}

.list-post-popular:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.pagination {
  margin: auto;
  width: 100%;
  text-align: center;
  margin: 20px auto -25px auto;
  height: 100px;
}
.pagination button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: transparent;
  margin: auto 20px;
  background-color: rgb(32, 32, 32);
  color: white;
}
.btn_nodisplay {
  visibility: hidden;
}
/********************************Footer Section *************************************/

footer.footer {
  background: #191919;
  position: relative;
}

footer.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 20px;
  padding: 3rem 0.9rem;
}

footer.footer .container h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer.footer .container p {
  color: #a0a0a0;
  line-height: 23px;
}

footer.footer .newsletter .form-element {
  background: #000;
  display: flex;
  align-items: center;
  width: 50%;
}

#down-subscribe {
  color: white;
  margin-top: 12%;
}

footer.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: transparent;
  color: white;
  font-family: "Lato";
  font-size: 1rem;
  width: 50%;
  flex-grow: 10;
}
.email__next__icon {
  width: 10;
  color: white;
  flex-grow: 1;
  margin: 5px;
}

footer.footer .follow div i {
  color: white;
  padding: 0 0.4rem;
}

footer.footer .rights {
  justify-content: center;
  text-align: center;
  padding-bottom: 1%;
  font-family: "Lato", sans-serif;
}
.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  width: 100%;
  margin-top: 5%;
}
.social-links a {
  color: white;
}
.social-links a:hover ion-icon {
  color: rgb(117, 117, 117);
}
.social-links ion-icon {
  margin: 10px;
  font-size: 20px;
}
.hidden {
  visibility: hidden;
  display: none;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 800px) {
  .latest-posts {
    width: 60%;
  }
  .popular-posts {
    width: 40%;
  }
}
@media only screen and (max-width: 565px) {
  .heading-latest-post h2 {
    text-align: center;
    margin: 0px;
  }
  .see-all-latest-posts {
    text-align: center;
  }
  .heading-popular-post {
    text-align: center;
  }
  .see-all-latest-posts a {
    margin: 10px auto 20px auto;
  }
}

@media only screen and (max-width: 575px) {
  .container-main {
    flex-flow: row wrap;
  }
  .latest-posts {
    width: 100%;
  }
  .popular-posts {
    width: 100%;
  }
  .center-text a {
    font-size: 13px;
    padding: 12px;
  }
}
@media only screen and (max-width: 415px) {
  .nav-link a {
    font-size: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }
  .nav-brand {
    margin: auto;
  }
  .nav-itemsul {
    margin: auto;
  }
}

#copyrighttext {
  color: white;
}

@media only screen and (max-width: 520px) {
  main .blog {
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .container > div {
    padding: 1rem 0.9rem !important;
  }

  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }

  nav .toggle-collapse {
    width: 80% !important;
  }
}

/*        x      Viewport less then or equal to 520px       x     */
